
    .wrap{
        width: 100%;
        margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    box-shadow:0 12px 15px 0;
    }
.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.log-box{
    width:70%;
    height:80%;
    position:absolute; 
    padding:70px 85px 69px 72px;
    background:rgba(40,57,101,.9);
}
.login-html{
    margin-top: 110px;
}
.login-html .group{
    margin-bottom:15px;
}

.login-html .group .input,
.login-html .group .button{
    border:none;
    width: 100%;
    padding:15px 20px;
    border-radius:5px;
    font-weight: bold;
    font-size: 20px;
    color: #aaa;
    background:rgba(255,255,255,.1);
}
.login-html .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-html .group label{
    color:#aaa;
    font-size:20px;
}

.button:hover{ 
    background-color:#aaa !important;
    color: #fff !important;
}
.login-html .group .check:checked + label {
    color:#fff;
}
.login-html .group .check:checked + label .icon {
    background-color:#1161ee !important;
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}
a{
    color: #aaa;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

